b, strong {
	font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
u {
    text-decoration: underline;
}
